<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <!-- NAVBAR -->
   {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main-header mt-5">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- ! Left Side header -->
                    <div class="col-md-6 col-12 main-header-left">
                        <p>Welcome to my website</p>
                        <h1>I am a <span style="color: blue;">MERN STACK DEVELOPER</span> and a freelancer.</h1>
                        <a href="/read"><button>Read More</button></a>
                    </div>
                    <!-- ! right Side header -->
                    <div class="col-md-6 col-12 main-header-right">
                       <figure>
                           <img src="./images/programmer.png" alt="MERN" class="img-fluid programmer" title="Abhishek Negi">
                       </figure>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
     {{>footer}}
</body>
</html>