<!DOCTYPE html>
<html lang="en">
{{>header}}
<body>
    <!-- NAVBAR -->
   {{>navbar}}
    <!-- Main Header -->
    <div class="container-fluid main-header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row justify-content-center">
                    <div class="col-md-6 col-12 main-header-left justify-content-center align-items-center">
                         <figure>
                           <img src="./images/error.png" alt="MERN" class="img-fluid" title="Abhishek Negi">
                       </figure>
                      <a href="/" style="text-decoration: none; color:blue">
                      <button>Go Back</button>
                      </a>
                    </div>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
     {{>footer}}
</body>
</html>