 <footer>
        <p>
            Copyright &copy; Abhishek Negi 2021-22
        </p>
        
  <div class="social-icons">
        <!--2nd-->
        <a href="https://github.com/abhishek150-rt" target="_blank" class="social-icon social-icon--github">
            <i class="fab fa-github"></i>
          </a>
          <!--3rd-->
          <a href="https://twitter.com/abhishe91738950" target="_blank" class="social-icon social-icon--twitter">
          <i class="fab fa-twitter"></i>
          </a>
          <!--4th-->
          <a href="http://youtube.com" target="_blank" class="social-icon social-icon--youtube">
           <i class="fab fa-youtube"></i>
          </a>
          <!--5th-->
          <a href="https://www.instagram.com/abhishek_not_avishake/" target="_blank" class="social-icon social-icon--instagram">
        <i class="fab fa-instagram"></i>
          </a>
          <!--6th-->
          <a href="https://www.facebook.com/abi.negi.10" target="_blank" class="social-icon social-icon--facebook">
          <i class="fab fa-facebook"></i>
          </a>

    </div>

</footer>